#root {
    text-align: center;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.card {
    width: 4em;
    height: 4em;
    margin: .5em;
    border-radius: 3px;
    background-size: cover;
    background-color: #dedee4;
    background-repeat: no-repeat;
}

.controls {
    width: 20em;
    margin: auto;
}

.controls__row {
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: space-around;
}

.level, .start {
    flex: 1;
    height: 2em;
    margin: 0 1em;
    text-transform: capitalize;
}